/* ======================================================================
                        MOBILE 320px
========================================================================= */

* {
  box-sizing: border-box;
}

/* ======================================================================
                        HEADER
========================================================================= */

body {
  font-family: 'Roboto Slab', serif;
}

.main-header {
  display: flex;
  flex-direction: row;
  height: 4.5em;
  background-color: #615fd0;
}

h1 {
  font-weight: 400;
  color: white;
}

.app-name {
  align-self: center;
  font-size: 1em;

  margin-right: 3em;
  margin-left: 1em;
}

.highlight {
  font-weight: bold;
  color: white;
}

#svg-bell {
  align-self: center;
}

.user-div {
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 2.75em;

  border-left: 2px solid #464499;

  padding-left: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.user-picture {
  border-radius: 50%;
  width: 32px;
  height: 32px;

  margin-top: 0.35em;
}

.username {
  align-self: center;
  font-size: 1em;
  color: white;
  font-weight: 400;
  margin-right: 0;
}

#bell-container {
  cursor: pointer;
  display: flex;
  margin: auto 0;
  padding-right: 0.5em;
}
#bell-container::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #36ff3e;
  margin-left: 1.25em;
  margin-top: -0.3em;
}

/* ======================================================================
                        NAVIGATION - SIDE
========================================================================= */

.content nav {
  width: 4.5em;

  width: 2.5em;
}

.nav-side {
  width: 4.5em;
  width: 2.5em;
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #4e4d82;
  padding: 0;
  margin: 0;
  height: 100%;

}

.nav-side svg {
  width: 20px;
  height: 20px;
}

.nav-side li {
  list-style: none;
  padding-top: 2em;
}
.nav-side li:last-of-type {
  padding-bottom: 2em;
}

/* ======================================================================
                        MAIN
========================================================================= */

#dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: calc(100% + 2em);
  text-align: center;
  background-color: #e6e6e6;

  width: 100%;
}
#dashboard-h {
  padding: 0.5em;
  background-color: white;
}
#dashboard-h h3 {
  margin: 0;
  color: #575555;
}
#dashboard-search {
  margin: 1em;
}
#searchBar {
  height: 2em;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid lightgray;
  padding: 0.5em;
}
#searchBar:focus::placeholder {
  visibility: hidden;
}


main, nav {
  display: flex;
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: row;
}

main {
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  margin: 0;
  /* NEW TEST */
  width: calc(100% - 2.5em);
}

.alert-highlight {
  font-weight: bold;
  margin-right: 0.75em;
}

.alert {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  opacity: 0.85;
  color: white;
  background-color: #615fd0;
  border-radius: 5px;

  padding: 0.75em;
  margin: 1em;

  width: calc(100% - 2em);
}

.alert-close {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;

  padding-left: 0.25em;
  margin-left: auto;
}

/* ======================================================================
                        CHARTS
========================================================================= */

.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charts h3 {
  align-self: center;
  border-radius: 20px;

  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.charts h3:last-of-type {
  margin-bottom: 0.5em;
}
.charts h3:hover {
  color: white;
  background-color: #48d979;
}

.traffic-container {
  /*position: relative;*/
  /*margin: auto;*/
  /*height: 80vh;*/
  width: 100%;
  height: 20em;
  /*height: 60em;*/

  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  margin-bottom: 10em;

}

.dm-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
}
.daily-container {
  width: 100%;
  height: 20em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.mobile-container {
  width: 100%;
  height: 20em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0;
}

/* ======================================================================
                        SOCIAL STATS
========================================================================= */

.social-h {
  margin: 0 auto;
  margin-bottom: 1em;
}
.social-container {
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  /*border-bottom: 1px solid black;*/

  padding-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
.social {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  align-self: center;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}
.social:not(:last-of-type) {
  margin-bottom: 1em;
}
.social-background {
  width: 5.5em;
  height: 5.5em;
  padding: 1.5em;
  border-radius: 50%;
  background-color: #615fd0;

  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-background svg {
  display: flex;
  align-self: flex-start;
}
.stats {
  margin-left: 0.2em;
}
.stats h3 {
  color: #615fd0;
  margin: 0;
}
.stats span {
  font-size: 3em;
}

/* ======================================================================
                        NEW MEMBERS AND RECENT ACTIVITY
========================================================================= */

.members-activity {
  width: 100%;
  display: flex;
  flex-direction: column;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.members-container {
  width: 100%;
  /*border-right: 1px solid black;*/
}
.members-container h3,
.message-container h3 {
  text-align: center;
  margin-top: 1.5em;
}
.activity-container {
  width: 100%;
  /*padding-right: 2.5em;*/
}
.activity-container h3,
.settings-container h3 {
  text-align: center;
  margin-top: 0.5em;
}
.member {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 1em;
  margin-bottom: 1em;
}
.member:not(:last-of-type) {
  border-bottom: 1px solid black;
}
.member-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.member div {
  display: flex;
  flex-direction: column;
  /*margin-left: 0.5em;*/
}
.member h3 {
  font-size: 0.9em;
  margin: 0;
}
.member a {
  color: #615fd0;
  font-size: 0.85em;
  text-decoration: none;
}
.member a,
.time {
  margin-top: 0.2em;
}
.arrow,
.join-date,
.time {
  align-self: center;
  /*margin-left: auto;*/
  margin-top: 0.5em;
}
.arrow {
  color: #615fd0;
  /*align-self: flex-end;*/
  font-size: 2.5em;
  margin-top: 0;
}

/* ======================================================================
                        MESSAGE USER AND SETTINGS
========================================================================= */

.message-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  margin-bottom: 3em;

  justify-content: center;
  align-items: center;
}
#settings-h {
  text-align: center;
  margin-bottom: 1.5em;
  /*margin-left: 1.75em;*/
}
.message-container {
  width: 100%;
  /*width: calc(50% - 2em);*/
  /*border-right: 1px solid black;*/
  /*padding-right: 2.5em;*/

  /*width: 50%;*/
}
/* MESSAGE SEARCH BAR */
#user-search {
  /*width: 100%;*/
  margin: 1em;
  /*margin-left: 2.3em;*/
}
#userSearch {
  font-size: 1em;

  width: 100%;
  max-width: 33.188em;
  height: 2.6em;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid lightgray;

  background-color: #f5f5f5;
  padding: 1em;
}
#userSearch:focus::placeholder {
  visibility: hidden;
}
#message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#message-area {
  display: flex;
  margin: 0 auto;
  height: 7.5em;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid lightgray;

  background-color: #f5f5f5;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#message-area:focus::placeholder {
  visibility: hidden;
}
/* SEND BUTTON */
#send {
  width: calc(100% - 1em);
  height: 3.125em;
  font-size: 1em;
  font-weight: bold;
  color: white;

  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #615fd0;

  padding: 1em;
  margin: 1em 0.5em;
}
#send:hover,
#save:hover {
  background-color: #504ead;
}
/* SETTINGS */
.settings-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.settings-container div {
  /*margin-left: 2em;*/
}
.settings-container div h3 {
  margin: 0;
  margin-bottom: 0.5em;
  width: 12em;
}
.settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  justify-content: center;
  align-items: center;
}

/* TESTING OFF AND OFF BUTTONS */

.onoffswitch1,
.onoffswitch2 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox1,
.onoffswitch-checkbox2 {
    display: none;
}
.onoffswitch-label1,
.onoffswitch-label2 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner1,
.onoffswitch-inner2 {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner1:before, .onoffswitch-inner1:after,
.onoffswitch-inner2:before, .onoffswitch-inner2:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner1:before,
.onoffswitch-inner2:before {
    content: "ON";
    padding-left: 10px;
    background-color: #615fd0; color: #FFFFFF;
}
.onoffswitch-inner1:after,
.onoffswitch-inner2:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch1,
.onoffswitch-switch2 {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-inner1,
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
    margin-left: 0;
}
.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-switch1,
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
    right: 0px;
}

/* TIMEZONE DROPDOWN */
.timezone-container {
  width: calc(100% - 2em);
  margin: 0 1em;
  margin-bottom: 1em;
}
#timezone {
  opacity: 0.5;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  max-width: 33.188em;
  border-radius: 5px;
  outline: none;
  border: 2px solid lightgray;

  background-color: #f5f5f5;
  padding: 1em;
}

/* SAVE AND CANCEL BUTTONS */

.save-cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#save,
#cancel {
  width: 75%;
  height: 3.125em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #615fd0;

  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#cancel {
  background-color: #969696;
}

/* ======================================================================
                        SVG STYLES
========================================================================= */

svg {
  fill: white;
}
.nav-side svg:not([class="active"]) {
  fill: #a5a5a8;
}

#svg-dashboard:not(:first-child) {
  fill: #a5a5a8;
}

/* ======================================================================
                        TABLET 768px
========================================================================= */

@media (min-width: 768px) {
  /* >>>>> NOW USING MOBILE ONE AND ADJUSTING IT */
  /* ======================================================================
                          HEADER
  ========================================================================= */
  .app-name {
    font-size: 1.5em;
    margin-right: auto;
  }
  .user-div {
    height: 2.75em;
    margin-right: 0.5em;
  }
  .username {
    margin-right: 2em;
  }
  /* ======================================================================
                          NAVIGATION - SIDE
  ========================================================================= */
  .content nav {
    width: 4.5em;
  }
  .nav-side {
    width: 4.5em;
  }
  .nav-side svg {
    width: 32px;
    height: 32px;
  }
  /* ======================================================================
                          CHARTS
  ========================================================================= */
  .charts {
    flex-direction: row;
    justify-content: flex-end;
  }
  .charts h3 {
    width: auto;
    border-radius: 20px;

    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;

    margin-left: 1em;
    margin-bottom: 1em;
  }
  .charts h3:last-of-type {
    margin-bottom: 1em;
  }

  .traffic-container {
    margin-bottom: 5em;
  }

  .mobile-container {
    padding-right: 5em;
    padding-bottom: 2em;
  }
  /* ======================================================================
                          SOCIAL STATS
  ========================================================================= */
  .social-container {
    width: calc(50% - 2em);
    align-self: center;
  }
  .social {
    padding-left: 2em;
  }
  .stats {
    margin-left: 1em;
  }
  /* ======================================================================
                          MESSAGE USER AND SETTINGS
  ========================================================================= */
  /* MESSAGE SEARCH BAR */
  #user-search {
    display: flex;
    justify-content: center;
  }
  #user-search form {
    width: 50%;
    align-self: center;
  }
  #message-area {
    width: 50%;
  }
  /* SEND BUTTON */
  #send {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1.5em auto;
  }
  /* TIMEZONE DROPDOWN */
  .timezone-container {
    width: calc(50% - 2em);
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /* SAVE AND CANCEL BUTTONS */
  #save,
  #cancel {
    width: 50%;
  }
}



/* ======================================================================
                        DESKTOP 1024px
========================================================================= */

@media (min-width: 1024px) {
  /* 768+ MAKING CHANGES - MOBILE FIRST */
  /* >>>>> FULL WIDTH WORKING */

  /* ======================================================================
                          CHARTS
  ========================================================================= */
  .traffic-container {
    width: calc(100% - 2em);
  }
  /* ======================================================================
                          SOCIAL STATS
  ========================================================================= */
  .social-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3em;
  }
  .social-h {
    margin-left: 2em;
  }
  .social {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    width: 20%;
    align-self: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2em;

    width: calc(33% - 2em);
    margin-bottom: 1em;
  }
  .social:last-of-type {
    margin-right: 2em;
  }
  .social-background {
    width: 5.5em;
    height: 5.5em;
    padding: 1.5em;
    border-radius: 50%;
    background-color: #615fd0;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* ======================================================================
                          NEW MEMBERS AND RECENT ACTIVITY
  ========================================================================= */

  .members-activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    border-bottom: 1px solid black;
  }
  .members-container {
    width: 50%;
    border-right: 1px solid black;
    padding-right: 2.5em;

    /*height: 23.469em;*/
  }

  .members-container h3,
  .message-container h3 {
    margin-top: 1.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: left;
  }
  .members-container .member:last-of-type {
    margin-bottom: 0;
  }
  .activity-container {
    padding-right: 2.5em;
    width: 50%;
    /*height: 23.469em;*/
  }
  .activity-container h3,
  .settings-container h3 {
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    text-align: left;
  }
  .member {
    width: calc(100% - 2em);
    display: flex;
    flex-direction: row;

    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  .member:not(:last-of-type) {
    border-bottom: 1px solid black;
  }
  .member-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .member div {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
  }
  .member h3 {
    font-size: 0.9em;
    margin: 0;
  }
  .member a {
    color: #615fd0;
    font-size: 0.85em;
    text-decoration: none;
  }
  .member a,
  .time {
    margin-top: 0.2em;
  }
  .arrow,
  .join-date {
    margin-left: auto;
    margin-top: 0.5em;
  }
  .member {
    height: 56px;
  }
  .arrow {
    color: #615fd0;
    align-self: flex-end;
    font-size: 2.5em;
  }
  .time {
    align-self: flex-start;
  }

  /* ======================================================================
                          MESSAGE USER AND SETTINGS
  ========================================================================= */

  .message-settings {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: stretch;
    width: 100%;
    margin-bottom: 3em;

    /*justify-content: center;*/
  }
  #settings-h {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.75em;
    text-align: left;
  }
  .message-container {
    border-right: 1px solid black;
    padding-right: 2.5em;
  }
  /* MESSAGE SEARCH BAR */
  #user-search {
    justify-content: flex-start;
    width: 100%;
    margin: 1em;
    margin-left: 2.3em;
  }
  #userSearch {
    font-size: 1em;

    width: 100%;
    width: calc(100% - 2.3em);
    max-width: 33.188em;
    height: 2.6em;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid lightgray;

    background-color: #f5f5f5;
    padding: 1em;
    /*ADJUSTING PADDING FOR MOZILLA FIREFOX*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  #userSearch:focus::placeholder {
    visibility: hidden;
  }
  #user-search form {
    align-self: flex-start;
    width: 100%;
  }
  #message {
    width: 100%;
    max-width: 33.188em;
    max-width: calc(33.188em + 2.3em);
    margin: 1em;
    margin-left: 2.3em;
  }
  #message-area {
    resize: none;
    width: 100%;
    max-width: 33.188em;
    height: 9.75em;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid lightgray;
    background-color: #f5f5f5;

    padding: 1em;
    margin-right: 2.3em;
    margin-left: 0;
  }
  #message-area:focus::placeholder {
    visibility: hidden;
  }
  /* SEND BUTTON */
  #send {
    width: 100%;
    width: calc(100% - 2.5em);
    height: 3.125em;
    max-width: 33.188em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;

    border-radius: 5px;
    outline: none;
    border: none;

    background-color: #615fd0;

    padding: 1em;
    margin-top: 1.4em;
    margin-left: 2.3em;
    margin-right: 1em;
    margin-bottom: 2.5em;
  }
  /* SETTINGS */
  .settings-container {
    display: flex;
    flex-direction: column;
    padding-right: 2.5em;
  }
  .settings-container div {
    margin-left: 2em;
  }
  .settings-container div h3 {
    margin: 0;
    width: 12em;
  }
  .settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  /* TIMEZONE DROPDOWN */
  .timezone-container {
    width: 100%;
    margin: 1em;
    margin-left: 2.3em;
  }
  #timezone {
    opacity: 0.5;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    max-width: 33.188em;
    border-radius: 5px;
    outline: none;
    border: 2px solid lightgray;

    background-color: #f5f5f5;
    padding: 1em;
  }

  /* SAVE AND CANCEL BUTTONS */

  .save-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #save,
  #cancel {
    width: 47%;
    height: 3.125em;
    max-width: 33.188em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;

    border-radius: 5px;
    outline: none;
    border: none;

    background-color: #615fd0;

    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
  }
  #cancel {
    background-color: #969696;
  }

  /* PREVIOUSLY USED FOR 768px +*/
  .app-name {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: auto;
  }

  .user-div {
    margin-left: 1em;
  }

  .username {
    margin-right: 1em;
  }

  #dashboard {
    flex-direction: row;

    /*width: calc(100% - 2em);*/
  }
  #dashboard-h {
    display: flex;
    height: 4.5em;
    height: 4.6em;

    /*border-right: 1px solid black;*/
  }
  #dashboard-h h3 {
    font-size: 1.5em;
    margin: auto;
  }
  #dashboard-search {
    margin-left: auto;

    /*border-bottom: 1px solid black;*/

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 1em;
  }
  #searchBar {
    width: 25em;
    height: 2.5em;
    padding: 0.75em;
  }

  .alert {
    width: calc(100% - 3em);
    margin: 1.5em;
  }

  .dm-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20em;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .daily-container {
    width: 45%;
    border-right: 1px solid black;
    padding-left: 2em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .mobile-container {
    width: 45%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  main {
    width: calc(100% - 4.5em);
  }
}



/**/
